.container{
    display:grid;
    height: 100vh;
    grid-template-columns:  1fr;
    grid-template-rows: 0.2fr 1.5fr;
}
img{
    align-self: center;
}
.main .about-content{
justify-content: center;
background: #ffffff;
padding: 8px;
border-radius:8px;

}
.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }