
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,700;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    
    padding: 0 10px;
    margin: auto;
}

/*navigation bar styling from a video I watched at https://www.youtube.com/watch?v=tcskp-ncN0I */
.navbar{
    /* position: fixed; */
    width: 100%;
    padding: 15px 0;
    background: linear-gradient(to bottom right,#6f1d92, #30b8ff );
    font-family: 'Ubuntu', 'sans-serif';

}
/*first use of flexbox, but DO NOT CLICK FLEX BOX! USE FLEX ONLY, IT's tempting but don't do it
we reference the max width class here, do note that the max width on the top of the
page is where the padding is set. */
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*navigation bar logo note that weight is how bold the imported font is ~Jelanie*/
.navbar .logo a{
    color:aliceblue;
    font-size: 37px;
    font-weight: 700;
    transition: color 0.5s ease-in-out;

}
.navbar .logo a:hover{
    color:#ff0080;
}

/*have no clue why we have to put list-style:none, but inline-block makes the nav bar go in a line*/
.navbar .menu li{
    list-style: none;
    display: block;
    float: left;
    position: relative;
}
.navbar .menu li a{
    color: #F49D37;
    font-size: 27px;
    font-weight: 500;
    padding: 20px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: #ff0080;
    
}  
.navbar .menu .menuDropDown  {
    position:absolute;
    display: none;
    background: #ffffff;
    align-items: center;
    border-radius: 0px 0px 4px 4px;
    padding: 10px;

}
.navbar .menu li:hover  .menuDropDown  {
    display: block;
    transition: all 0.3s ease;
   
    

}
.navbar .menu .menuDropDown li a{
border-radius: 4px;


}
.navbar .menu .menuDropDown :hover{
    background: linear-gradient(to bottom right,#6f1d92, #30b8ff );
    
    }

/* this will be the styling for the main section basically a picture or background with me in it
if I can find a picture nice enough*/
.main{
display: flex;
background: url("images/WallapaperBackground.jpg") no-repeat center;
-webkit-text-stroke: 1px #ff0080;
background-repeat: no-repeat;
background-attachment: fixed;
font-family: 'ubuntu', 'sans-serif';color: #ffffff;
align-items: center;
}

.main .max-width{
margin:auto 0 auto 40px;
}

.main .main-content .text-1 {
    font-size: 30px;
    font-weight: 600;
    
}

.main .main-content .text-2 {
    font-size: 77px;
    font-weight: 600;
    margin-left: -3px;
}

.main .main-content .text-3 {
    font-size: 38px;
    font-weight: 600;
    margin-left: -3px;
}

.main .main-content .text-3 span {
    color: #F49D37;
    font-weight: 700;
    font-size: 55px;
}

/*Learned how to make this button from coding nepal */
.main .main-content a{
    display: inline-block;
    background: linear-gradient(#30b8ff,#6f1d92);
    color:#F49D37;
    font-size:25px;
    padding: 12px 36px;
    margin-top:20px;
    border-radius:6px;
    border: 2px solid #ffffff;
    transition:all 0.3s ease;

}
.main .main-content a:hover{
    color: #ff0080;
    background: inverted;
}
    /*This is where the main headers will go!*/
    /*copypasta from indexes*/    

.header{
display: flex;
background: url("images/WallapaperBackground.jpg") no-repeat center;
height: 100vh;
min-height: 500px;
-webkit-text-stroke: 1px #ffffff;
font-family: 'ubuntu', 'sans-serif';color: #ffffff;
}
.header .main-content{

    background: linear-gradient(#30b8ff,#6f1d92);
    color:#F49D37;
    font-size:25px;
    padding: 12px 36px;
    margin-top:20px;
    border-radius:6px;
    border: 2px solid #ffffff;
    transition:all 0.3s ease;
}

 img{
    display: flex;
    border-radius: 15px;
    max-width:30%;
    height: auto;

}
@media (min-width: 768px){
    img { 
    border-radius:10px;
    max-width: 60vw;
    height: auto; }
}


/*Make it a bit more responsive*/
@media (max-width: 768px){
    .max-width{ padding:0 50px;}
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(#f22c29,#6f1d92);
        text-align: center;
        padding-top: 70px;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 31px;
        font-weight: 700;
    }

}
.Projects{
    display: flex;
    background: url("images/20200112_014305.jpg") no-repeat center;
    height: 100vh;
    color: #ffffff;
    min-height: 500px;
    font-family: 'ubuntu', 'sans-serif';
    }

.Projects .max-width{
    margin:auto;
}
.Projects .max-width .Projects-Content{
    font-size: 38px;
    color: #111111;
    font-weight: 500;

}
main.about-content p{
    font-size: 18px;
    font: weight 500px;
    border: black 2px;
}
/*whats going on??*/